<nav>
	<button onclick="toggleMenu();" id="menu-button">Menu &#8801;</button>
	<img src="../assets/images/thin-logo-small.svg" alt="Wand logo" >
	{% for item in site.data.navigation %}
    	{% if item.name contains '&#11167;' %} 
			<div class="dropdown">
			<a href="../{{ item.link }}" class="navlink droplink{% if page.url == item.link %} current{% endif %}">
				<h3>{{ item.name }}</h3>
			</a>
			<div class="dropdown-content">
				{% for topic in site.research %}
					<a href="..{{ topic.url }}">{{ topic.name }}</a>
				{% endfor %} 
			</div>
			</div>
		{% else %}
			<a href="../{{ item.link }}" class="navlink {% if page.url == item.link %}current{% endif %}">
				<h3>{{ item.name }}</h3>
			</a>
		{% endif %}
	{% endfor %}
</nav>
