@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$btnRed: #9C1E14;
$headerRed: #BB261A;
$backGrey: #EAEAEA;
$navBlack: #2B2B2B;
$siteFont: "Roboto", sans-serif;

html {
	max-width: 110%;
	overflow-x: hidden;
}

.current {
	background-color: $btnRed;
}

nav, footer {
	display: inline-block;
	background-color: $navBlack;
	width: 110%;
	margin-top: -8px;
	margin-left: -8px;
	padding-left: 20%;
}

footer {
	background-color: $headerRed;
    position: relative;
    height: 100px;
    margin-top: -200px;
}

nav a {
	display: inline-block;
	width: 12%;
	height: 5%;
	background-color: $navBlack;
	margin-right: -0.5%;
	margin-top: auto;
	padding: 0% 1% 0.5% 1%;
	color: white;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s;
	outline: none;
}

nav a:hover {
	background-color: $btnRed;
}

.current:hover{
	background-color: $navBlack;
}

nav img {
	display: block;
	float: left;
	max-width: 10%;
	min-width: 5%;
	margin-left: -17%;
}

#banner {
	width: 130%;
	background-color: $navBlack;
	margin-top: -8px;
	margin-left: -8px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#banner img {
	height: 50px;
}

hr {
	color: $headerRed;
	background-color: $headerRed;
	border: none;
	height: 1px;
}

h1, h2, h3, h4, p {
	font-family: $siteFont;
}

h1 {
	font-size: 2.6875em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 1em;
}

p {
	font-size: 1em;
}



ul {
	padding-left: 0px;
}

.boxLink {
	display: inline-block;
	background-color: $btnRed;
	padding: 8px;
	min-width: 100px;
	color: white;
	text-decoration: none;
	text-align: center;
}

/* Dropdown Button */
.droplink {

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	display: contents;
	font-family: $siteFont;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 20%;
	z-index: 1;
	margin-left: 15%;
}

/* Links inside the dropdown */
.dropdown-content a {
	padding: 6% 1% 4% 6%;
	text-decoration: none;
	display: block;
	background-color: $btnRed;
	width: 90%;
	text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {font-weight: bold;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Keep research button red */
.dropdown:hover .droplink {background-color: $btnRed;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.droplink:hover .droplink {background-color: $btnRed;}

#menu-button {
	display: none;
}

.arrowButton {
	display: none;
}

#contentContainer h1 {
	color: $headerRed;
}

#contentContainer h2 {
	color: $headerRed;
}

html, body {
	height: 100%;
}

/* For using footer */
#twitter-wlinks, #research, #people, #contact {
	padding-bottom: 5%;
}