#peopleInput {
	width: 70%;
	display: inline-block;
	text-align: left;
	margin-left: 10%;
}

#people .pCatagory h1 {
	margin-top: 1%;
}

#people ul a {
	display: inline-block;
	text-decoration: none;
	color: black;
	height: 300px;
	width: 200px;
	margin-right: 70px;
	outline: none;
}

#people ul a:active {
	outline: none;
}

#people ul li {
	text-align: left;
	display: block;
}

#people ul li h4 {
	margin: 0px;
	padding: 0px;
}

#people ul li p {
	margin: 0px;
}

#people .oddpCatagory {
	background-color: $backGrey; 
}

.peopleImg {
	background-color: #A0A0A0;
	height: 200px;
	width: 200px;
	display: block;
}

.pCatagory {
	display: inline-block;
	text-align: left;
	width: 140%;
	margin-left: -6.5%;
	padding-left: 26.5%;
}

.pCatagory ul {
	width: 70%;
}

#person {
	display: inline-block;
	margin: auto;
	text-align: initial;
	width: 80%;
}
