#plain {
	@extend %main-div;
	display: inline-block;
	text-align: left;

	& h4 {
		color: $headerRed;
	}

	& strong {
		font-size: 1.1em;
		font-weight: 600;
	}
}

#maps {
	@extend %main-div;
	display: inline-block;

	&-content {
		text-align: left;
		width: 40%;
		display: inline-block;
		min-width: 200px;
		padding-right: 1%;
		float: left;
	}

	&-panel {
		display: inline-block;
		width: 50%;
		min-width: 200px;
		height: 500px;
		padding-top: 10em;
	}
	
	h4 {
		color: $headerRed;
	}
}

#section {
	text-align: left;

	.sectDiv {
		width: 60%;
		margin-left: -20.5%;
		padding-left: 42.5%;
		padding-right: 40%;
		padding-top: 4em;
		padding-bottom: 4em;
	}

	.oddSect {
		background-color: $backGrey; 
	}

	.firstSect {
		padding-top: 0;
	}
}