#researchInput {
	width: 80%;
	display: inline-block;
	text-align: left;
}

#research {
	display: inline-block;
	margin: auto;
	text-align: initial;
	max-width: 80%;
}

#research li {
	display: inline-block;
	margin-bottom: 4%;
}

#research li span {
	display: inline-block;
	float: left;
	max-width: 75%;
	margin-right: 5%;
}

#research li a {
	display: inline-block;
	width: 15%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
}
