---
layout: default
---
<div id="peopleInput">
	{{ content }}
</div>

<div id="people">
	{% for item in site.data.pCategory %}
	{% assign indexOdd = forloop.index0 | modulo: 2 %}
	<div class="pCategory {% if indexOdd == 1 %} oddpCategory{% endif %}">
		<h1>{{ item.name }}</h1>
		
		<ul>
			{% for person in site.people %}
			{% if person.role == item.name%}
			<li class="person">
				<a href="{% if person.link != null %}{{ person.link }}{% else %}{{ person.url | absolute_url }}{% endif %}">
					<img src="
					{% for imgRef in site.static_files %}
						{% if imgRef.path contains 'assets/images/' %}
							{% assign imgRefArray = imgRef.path | split: 'ssets/images/' %}
							{% assign personRef = person.name | downcase | replace: ' ', '_' %}
							{% if imgRefArray[1] contains personRef %}
							{{ imgRefArray[1] | prepend: 'assets/images/' | absolute_url }}
							{% break %}
							{% endif %}
						{% endif %}
					{% endfor %}
					" class="peopleImg" alt=" ">
				<h4>{{ person.name }}</h4>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div> <br >
	{% endfor %}
</div>