---
layout: default
---

<div id="topic">
	<h2>{{ page.setname }}</h2>
	{{ content }}
	<table>
		<tr id="tableHead">
			<td>Name</td>
			<td>Description</td>
		</tr>
		<tr id="thSpacer"><td></td><td></td></tr>
		{% for data in site.wits %}
			{% if page.setname == data.setname %}
				{% if data.layout == "witsdata" %}
				<tr>
					<td><a href="{{ data.url | absolute_url }}">
						{{ data.tracename }}</a></td>
					<td>{{ data.start }}</td>
				</tr>
				{% endif %}
			{% endif %}
		{% endfor %}
	</table>
</div>
