---
layout: default
---

<div id="topic">
	<h2>{{ page.setname }}/{{ page.tracename }}</h2>

	<span style="width: 31px; display: inline-block">
	{% if page.previous.url and page.previous.layout != "witset" %}
		<a href="{{page.previous.url}}">Prev</a>
	{% endif %}
	</span>
	<a href="./traceset.html">Up</a>
	{% if page.next.url and page.next.layout != "witset" %}
		<a href="{{page.next.url}}">Next</a>
	{% endif %}



	<div id="topic-nospace">
		<table>
			<tr>
				<td><b>Start Time (Local)</b></td>
				<td>{{ page.start }}</td>
			</tr>
			<tr>
				<td><b>End Time (Local)</b></td>
				<td>{{ page.end }}</td>
			</tr>
			<tr>
				<td><b>Duration</b></td>
				<td>{%- assign thours = page.len | divided_by: 3600 | floor -%}
					{%- assign chours = page.len | modulo: 3600 -%}
					{%- assign tmins = chours | divided_by: 60 | floor -%}
					{%- assign cmins = chours | modulo: 60 -%}
					{%- assign tsec = cmins | floor -%}
	
					{%- assign lhours = thours | prepend: "" | size -%}
					{%- for i in (lhours..1) -%}
						{%- assign thours = thours | prepend: 0 -%}
					{%- endfor -%}
	
					{%- assign lmins = tmins | prepend: "" | size -%}
					{%- for i in (lmins..1) -%}
						{%- assign tmins = tmins | prepend: 0 -%}
					{%- endfor -%}
	
					{%- assign lsec = tsec | prepend: "" | size -%}
					{%- for i in (lsec..1) -%}
						{%- assign tsec = tsec | prepend: 0 -%}
					{%- endfor -%}
					{{- thours -}}:{{- tmins -}}:{{- tsec -}}
				</td>
			</tr>
			<tr>
				<td><b>Compressed Size</b></td>
				<td>{{ page.gzsize }}</td>
			</tr>
			<tr>
				<td><b>Uncompressed Size</b></td>
				<td>{{ page.size }}</td>
			</tr>
			<tr>
				<td><b>Packets</b></td>
				<td>{{ page.pkts }}</td>
			</tr>
			<tr>
				<td><b>Total Traffic</b></td>
				<td>{{ page.totalwirelen }}</td>
			</tr>
			{%- if page.md5 != null -%}
				<tr>
					<td><b>MD5 Checksum</b></td>
					<td>{{ page.md5 }}</td>
				</tr>
			{%- endif -%}
			{%- if page.download != null -%}
				<tr>
					<td><b>Download</b></td>
					<td><a href="{{ page.download }}">Link</a></td>
				</tr>
			{%- endif -%}
			{%- if page.ripedownload != null -%}
				<tr>
					<td><b>Download</b></td>
					<td><a href="{{ page.ripedownload }}">Link (RIPE repository)</a></td>
				</tr>
			{%- endif -%}
		</table>

		
		{% for imgRef in site.static_files %}
			{% if imgRef.path contains page.tracename %}
			<img src="{{imgRef.path | absolute_url }}# content-half-span" >
			{% endif %}
		{% endfor %}
	</div>
</div>
